.price_wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.price_wrapper .tovar__price__wishoout__discont {
    text-decoration: line-through;
    margin: 0 0 0 30px;
    color: #929292;
}

@media screen and (max-width: 600px) {
    .price_wrapper .tovar__price__wishoout__discont {
        font-size: 10px;
        line-height: 12px;
    }
}