.product-item-scu-item-list{
	display: flex;
}
.product-item-scu-item-text-container{
	margin-right: 35px;
	cursor: pointer;
	padding: 10px;
}
.product-item-scu-item-text-container.selected{
	font-weight: 500;
	border: 1px solid black;
}
.swiper .swiper-slide{
	height: auto;
}
.swiper-slide img{
	object-fit: cover;
	width: 100%;
}

.catalog-cart-video{
	width: 100%;
	/*width: 75%;*/
	height: auto;
	margin: 0 auto;
	pointer-events: none;

	object-fit: cover;
	position: absolute;
}
.tovar__head{
	margin-top: 10px;
}

.media-square {
	position: relative;
	width: 100%;
	/*max-width: 760px;*/
	aspect-ratio: 1 / 1;
	overflow: hidden;
}

.media-square img,
.media-square video {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
