.top100{
    padding-top: 100px;
}
.top40{
    padding-top: 40px;
}
.top0{
    padding-top: 0;
}
.bottom40{
    padding-bottom: 40px;
}
.favor.active{
    cursor: pointer;
    background-image: url(assets/img/favorite-active.svg);
}
.favor, .pointer{
    cursor: pointer;
}
.product__inner{
    padding-top: 30px;
}