.top100{
    padding-top: 100px;
}
.top40{
    padding-top: 40px;
}
.top50{
    padding-top: 50px;
}
@media screen and (max-width:600px) {
    .account__form.top50{
        padding-top: 0;
    }
}
.top0{
    padding-top: 0;
}
.bottom40{
    padding-bottom: 40px;
}
.favorite-btn.active{
    cursor: pointer;
    background-image: url(assets/img/favorite-active.svg);
}
.favor, .pointer{
    cursor: pointer;
}
.product__inner{
    padding-top: 30px;
}
img{
    display: block;
}

/*card start*/
.bx-sbb-empty-cart-image {
    width: 131px;
    height: 116px;
    margin: 50px auto 42px;
    background: url(/bitrix/components/bitrix/sale.basket.basket/templates/.default/images/empty_cart.svg) no-repeat center;
    background-size: auto;
    background-size: contain;
}
.bx-sbb-empty-cart-text {
    font-size: 36px;
    text-align: center;
    color: #bababa;
    margin-bottom: 42px;
}
.bx-sbb-empty-cart-desc {
    text-align: center;
    color: #000;
    font-size: 16px;
    margin-bottom: 42px;
}
/*card end*/

.hystmodal__window_search {
    min-height: unset !important;
}
.hystmodal__window.hystmodal__window_search{
    padding: 45px 40px 0 !important;
}
.hystmodal__window.hystmodal__window_loyal{
    padding: 45px 40px 20px !important;
}
.loyal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center !important;
}
.loyal .h2{
    align-self: center !important;
}

.account__orders_border .account__default{
    padding-top: 30px;
}