@media screen and (min-width: 991px) {
	main .products .products__list .product:last-child {
		display: none;
	}
}
.product__img {
	width: 100%;
	height: auto;
	aspect-ratio: 3 / 4;
	object-fit: cover;
	display: block;
}

.main_img{
	display: flex;
	flex-direction: column;
	width: 100%;
}